* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #272a31;
  --font-color: #ec5242;
  --secondary-color: #d3d3d3;
  --main-font: lato, sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.clickable {
  cursor: pointer;
  border: none;
  outline: none;
}

/* Menu */

.hamburger {
  margin-bottom: 2rem;
}

.line {
  display: block;
  width: 23px;
  height: 5px;
  background-color: var(--main-color);
}

.line:not(:last-child) {
  margin-bottom: 3px;
}

.mobile-menu {
  display: grid;
  grid-template-rows: 3rem 3rem 5px 2.5rem 5px 2.5rem 5px 2.5rem 5px 2.5rem 5px 2.5rem 5px 2.5rem 5px;
  align-items: flex-end;
  list-style: none;
  position: fixed;
  transform: translateY(-100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: var(--main-color);
}

.mobile-menu a {
  text-decoration: none;
}

.close-icon {
  display: none;
  justify-self: end;
  align-self: end;
  padding-right: 1.5rem;
  cursor: pointer;
}

.icon-menu {
  color: #fff;
  font-size: 1.6rem;
  padding-left: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.orange-menu-line {
  background-color: var(--font-color);
  height: 1.5px;
  width: 2.5rem;
  margin-left: 1.5rem;
}

.open-menu {
  transform: translateY(0%);
  transition: transform 0.3s;
}

/* Home Page */

.intro-sec {
  padding: 1rem 1rem 3rem;
  background-image: url(./img/background/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.greeting {
  font-size: 18px;
  color: var(--font-color);
  margin-bottom: 0.2rem;
}

h1 {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2rem;
}

.h1-title {
  background-image: url(./img/background/2019event.png);
  background-size: cover;
  background-clip: text; /* stylelint-disable-line */
  -webkit-background-clip: text;
  color: transparent;
}

.intro {
  background-color: #f7f7f7;
  margin: 1.2rem 0 1rem 0;
  padding: 1rem;
  border: 3px solid #fff;
  font-size: 0.8rem;
}

.date {
  color: var(--main-color);
  opacity: 0.8;
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.venue {
  color: var(--main-color);
  background-color: #f7f7f7;
  opacity: 0.9;
  width: fit-content;
}

.program-sec {
  background-image:
    repeating-linear-gradient(90deg, #272a31 0, #272a31 4px, transparent 0, transparent 50%),
    repeating-linear-gradient(180deg, #272a31 0, #272a31 4px, transparent 0, transparent 50%),
    repeating-linear-gradient(135deg, #24272e 0, #24272e 3px, transparent 0, transparent 53%),
    repeating-linear-gradient(45deg, #24272e 0, #24272e 3px, transparent 0, transparent 44%);
  background-size: 25px 25px;
  background-color: #272a31;
  padding: 2rem 0.8rem 2.5rem 0.8rem;
  display: flex;
  flex-direction: column;
}

.centered-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-title {
  color: #fff;
  font-weight: 500;
}

.orange-line {
  background-color: var(--font-color);
  height: 1.5px;
  width: 2.5rem;
  margin-top: 0.8rem;
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.act-box {
  background-color: rgba(255, 255, 255, 0.074);
  display: grid;
  grid-template-columns: 20% 30% 50%;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.white-img {
  width: 3rem;
  filter: brightness(0) invert(1);
}

.act-title {
  color: var(--font-color);
  font-size: 0.9rem;
  font-weight: 700;
  padding-left: 0.5rem;
}

.act-text {
  color: #fff;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.join-btn {
  background-color: var(--font-color);
  width: fit-content;
  align-self: center;
  padding: 1.8rem 2rem;
  font-size: 1rem;
  margin: 0;
}

.writers-sec {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2.5rem;
}

.writers-title {
  height: 100px;
}

.black-title {
  font-weight: 600;
}

.writer {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 2.5rem;
  align-items: center;
  justify-content: center;
}

.writer-img {
  width: 100%;
  justify-items: center;
}

.writer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  width: fit-content;
  padding-left: 0.8rem;
}

.writer-title {
  font-size: 1.3rem;
}

.orange-italic-text {
  color: var(--font-color);
  font-style: italic;
  font-weight: 600;
}

.gray-line {
  background-color: var(--main-color);
  display: block;
  height: 1px;
  width: 1.5rem;
  opacity: 0.3;
}

.writer-description {
  font-size: 0.7rem;
}

header,
.desktop-partners-sec,
.desktop-footer {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop-centered {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .options-container {
    background-color: var(--main-color);
  }

  .options {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    list-style: none;
    color: #fff;
    font-size: 0.7rem;
    gap: 0.7rem;
  }

  .options li {
    display: flex;
  }

  .social-i {
    align-self: center;
    height: 0.8rem;
  }

  .desktop-menu-container {
    background-color: #fff;
  }

  .desktop-menu {
    background-color: #fff;
    width: 80%;
    list-style: none;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desktop-menu a {
    text-decoration: none;
    color: var(--main-color);
  }

  .desktop-header-logo {
    height: 3rem;
    margin-right: 8rem;
  }

  .gna {
    color: var(--font-color);
    border: 3px solid var(--font-color);
    margin-left: 1.5rem;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
  }

  .intro-sec {
    background-image: url(./img/background/main_bg.png);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 550px;
  }

  .intro-container {
    display: flex;
    justify-content: flex-start;
    width: 80%;
  }

  .desktop-intro {
    width: 75%;
  }

  .greeting {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .h1-title {
    font-size: 3.8rem;
    line-height: 3.5rem;
  }

  .intro {
    font-size: 1rem;
    max-width: 80%;
  }

  .date {
    font-size: 1.5rem;
  }

  .program-sec {
    width: 100%;
    padding: 2.5rem 0;
    background-size: 20px 20px;
  }

  .program-container {
    display: flex;
    justify-content: center;
  }

  .activities {
    width: 80%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 0.2rem;
  }

  .act-box {
    display: grid;
    grid-template-rows: 30% auto auto;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 0.2rem;
    padding: 1rem;
    width: auto;
    text-align: center;
    height: auto;
  }

  .white-img {
    width: 2.5rem;
  }

  .act-title {
    padding: 0;
    font-size: 1rem;
  }

  .act-text {
    padding: 0;
  }

  .join-btn {
    display: none;
  }

  .see-program {
    color: #fff;
    align-self: center;
    text-decoration: underline;
    padding-bottom: 1rem;
  }

  .writers-sec {
    width: 100%;
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
  }

  .writers-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }

  .allwriters {
    width: 80%;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: 50% 50%;
  }

  .writer {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
  }

  .writer-card {
    padding: 1rem;
  }

  .orange-italic-text {
    color: var(--font-color);
    font-style: italic;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 0.8rem;
  }

  .writer-description {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  .desktop-partners-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    background-color: var(--main-color);
  }

  .partner-container {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    gap: 2rem;
    margin-top: 0.8rem;
  }

  .partner-img {
    width: 5rem;
    opacity: 0.5;
  }

  .white-partner-img {
    filter: brightness(0) invert(1);
  }

  .picador-img {
    width: fit-content;
    height: 3rem;
    filter: brightness(0) invert(1);
    opacity: 0.5;
  }

  .desktop-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2rem 0;
    justify-content: center;
    gap: 1rem;
  }

  .footers-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }

  .logo-footer {
    width: 10rem;
  }

  .desktop-footer-text {
    font-size: 0.6rem;
    line-height: 0.7rem;
  }
}
